L1_algoritmi_simpli/problem/__pycache__/p1.cpython-38.pyc
L1_algoritmi_simpli/problem/__pycache__/p2.cpython-38.pyc
L1_algoritmi_simpli/problem/__pycache__/p3.cpython-38.pyc
L1_algoritmi_simpli/problem/__pycache__/utils.cpython-38.pyc
